.section__posts__description {
  min-height: 150px;
  padding: 20px 40px;
  border: 1px solid #000000;
  background: #ffffff;
}

.btn {
  margin-top: 5px;
  padding: 5px;
  width: 100%;
  border-radius: 10px;
}
